@model IEnumerable<MACAWeb.Models.GrantBudgetsType>
@{
    ViewBag.Title = "Grant Budget Types";
}
<div>
    <h2>@ViewBag.Title</h2>

    <hr />
    <div class="row">
        @Html.ActionLink("Add new", "Create", null, new { @class = "btn btn-default" })
    </div>
    <br />

    <div class="row">

        <div class="card col">
            <table class="table card-body">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>Manage</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="column-glyph">
                            <a href="@Url.Action("Edit", "GrantBudgetsTypes", new { id=item.GrantBudgetsTypeID })">
                                <span title="Edit" class="fa fa-wrench action-icons" />
                            </a>&nbsp;
                            <a href="@Url.Action("Details", "GrantBudgetsTypes", new { id=item.GrantBudgetsTypeID })">
                                <span title="Details" class="fa fa-info action-icons" />
                            </a>&nbsp;
                            <a href="@Url.Action("Delete", "GrantBudgetsTypes", new { id=item.GrantBudgetsTypeID })">
                                <span title="Delete" class="fa fa-trash action-icons" />
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>
</div>
