@model MACAWeb.Models.Subject

@{
    ViewBag.Title = "Subjects";
}

<div class="main-content">
    <h2>Subject Details</h2>

    <hr />

    <div class="inner-rectangle">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                Study Level
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StudyLevel.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Year)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Semester)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Semester)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>
        </dl>
    </div>

    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.SubjectID }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>