@model PagedList.IPagedList<MACAWeb.Models.Subject>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Subjects";
}
<div>
    <h2>@ViewBag.Title</h2>

    <hr />
    <div class="row">
        @if (User.IsInRole("Employee"))
        {
            <div class="col col-md-8">@Html.ActionLink("Add new", "Create", null, new { @class = "btn btn-default" })</div>
        }
            <div class="col col-md-4 search-box">
                @using (Html.BeginForm("Index", "Subjects", FormMethod.Get))
                {
                    <div class="input-group">
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><span class="fa fa-search"></span></button>
                        </span>
                    </div>
                }
            </div>
    </div>
    <br />

    <div class="row">

        <div class="card col">
            <table class="table card-body">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ShortName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Year)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Semester)
                    </th>
                    <th>Manage</th>
                </tr>

                @foreach (var item in Model)
                {
                    string code = item.Department + "/" + item.ShortName;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Semester)
                        </td>
                        <td class="column-glyph">
                            <a href="@Url.Action("Edit", "Subjects", new { id=item.SubjectID })">
                                <span title="Edit" class="fa fa-wrench action-icons" />
                            </a>&nbsp;
                            <a href="@Url.Action("Details", "Subjects", new { id=item.SubjectID })">
                                <span title="Details" class="fa fa-info action-icons" />
                            </a>&nbsp;
                            <a href="@Url.Action("Delete", "Subjects", new { id=item.SubjectID })">
                                <span title="Delete" class="fa fa-trash action-icons" />
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <br />
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>