@model PagedList.IPagedList<MACAWeb.Models.Author>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Authors";
}
<div>
    <h2>@ViewBag.Title</h2>

    <hr />
    <div class="row">
        @if (User.IsInRole("Employee"))
        {
        <div class="col col-md-8">
            @Html.ActionLink("Publications", "Index", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Add new", "AuthorsCreate", null, new { @class = "btn btn-default" })
        </div>
        }
        <div class="col col-md-4 search-box">
            @using (Html.BeginForm("AuthorsIndex", "Publications", FormMethod.Get))
            {
                <div class="input-group">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><span class="fa fa-search"></span></button>
                    </span>
                </div>
            }
        </div>
    </div>
    <br />

    <div class="row">

        <div class="card col">
            <table class="table card-body">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ORCID)
                    </th>
                    <th>Manage</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ORCID)
                        </td>
                        <td class="column-glyph">
                            <a href="@Url.Action("AuthorsEdit", "Publications", new { id=item.AuthorID })">
                                <span title="Edit" class="fa fa-wrench action-icons" />
                            </a>&nbsp;
                            <a href="@Url.Action("AuthorsDetails", "Publications", new { id=item.AuthorID })">
                                <span title="Details" class="fa fa-info action-icons" />
                            </a>&nbsp;
                            <a href="@Url.Action("AuthorsDelete", "Publications", new { id=item.AuthorID })">
                                <span title="Delete" class="fa fa-trash action-icons" />
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <br />
    @Html.PagedListPager(Model, page => Url.Action("AuthorsIndex", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>