@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta itemprop="name" content="MACA" />
    <meta property="og:title" content="MACA" />
    <meta itemprop="description" content="Web platform for monitoring academic activities." />
    <meta id="meta-tag-description" property="og:description" content="Web platform for monitoring academic activities." />
    <meta name="description" content="Web platform for monitoring academic activities." />
    <meta name="keywords" content="MACA,UPJŠ,Prirodovedecka fakulta" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/macaicon.ico" />
    <title>@ViewBag.Title - MACA</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar fixed-top navbar-light navbar-inverse bg-light navbar-expand-lg">
        <div class="container navbar-header">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                <img src="~/Images/macaIcon.png" width="40" />
            </a>

            <button type="button" class="navbar-toggler navbar-light" data-toggle="collapse" data-target="#navbarCollapsed" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarCollapsed">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("About MACA", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("People", "People", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink(MACAWeb.Resources.Navbar.Navbar.Papers, "Publications", "Home", null, new { @class = "nav-link" })</li>
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">@Html.ActionLink("Administration", "Administration", "Home", null, new { @class = "nav-link" })</li>
                        }
                        if (User.IsInRole("Employee"))
                        {
                            <li class="nav-item">@Html.ActionLink("Edit profile", "Edit", "Persons", null , new { @class = "nav-link"})</li>
                            

                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
        <hr />
        <footer class="page-footer foot-row footer-style">
            <div class="row">
                <div class="mr-auto">
                        <a href="https://www.upjs.sk/prirodovedecka-fakulta/ustav/umv/" target="_new" class="block-link">&copy; @DateTime.Now.Year - Univerzita Pavla Jozefa Šafárika v Košiciach, Prírodovedecká fakulta</a>
                </div>
                <div class="ml-auto">
                        @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "block-link" })
                        @Html.ActionLink("Press", "Press", "Home", null, new { @class = "block-link" })
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>