@model MACAWeb.Models.News

@{
    ViewBag.Title = "News";
}

<div class="main-content">
    <h2>Delete News</h2>

    <hr />
        
    <div class="inner-rectangle">
        <h4>Are you sure you want to delete this news?</h4>    
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Abstract)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Abstract)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Text)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Text)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Author)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Author)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DatePublished)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DatePublished)
            </dd>

            <dd>
                @{
                    if (Model.Image != null && Model.Image.Length > 0)
                    {
                        var base64 = Convert.ToBase64String(Model.Image);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        @:<img src="@imgSrc" width="300" />
                }
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImageAuthor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageAuthor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImageDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />          
            </div>
        }
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>