@{
    ViewBag.Title = "Create";
}


<h2>Create Role</h2>
@Html.ActionLink("List roles", "Index") | @Html.ActionLink("Manage roles", "Manage")
<hr />
@{ if (ViewBag.ResultMessage == "Success")
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> A new role was created.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    }
    if (ViewBag.ResultMessage == "Error")
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> Something went wrong. The role wasn't created.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    }
 }
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        Role name
    </div>
    <p>
        @Html.TextBox("NewRole", null, new { @class = "form-control", required = "required" })
    </p>
    <input type="submit" value="Save" />
}
@ViewBag.ResultMessage
@ViewBag.RoleName