@model MACAWeb.Models.DataFormat

@{
    ViewBag.Title = "Data Formats";
}

<div class="main-content">
    <h2>Delete Data Format</h2>

    <hr />

    <div class="inner-rectangle">
        <h4>Are you sure you want to delete data format?</h4>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                Feature Type
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FeatureType.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>
        </dl>

        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        }
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>