@model IEnumerable<MACAWeb.Models.GrantBudget>

@{
    ViewBag.Title = "Grant Budgets";
}
<div>
    <h2>@ViewBag.Title</h2>

    <hr />
    <div class="row">
        @Html.ActionLink("Add new", "GrantBudgetsCreate", new { grantId = ViewBag.GrantID }, new { @class = "btn btn-default" })
    </div>
    <br />

    <div class="row">

        <div class="card col">
            <table class="table card-body">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GrantBudgetsType.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Year)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>Manage</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GrantBudgetsType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            <a href="@Url.Action("GrantBudgetsEdit", "Grants", new { id=item.GrantBudgetID, grantId = item.GrantID })">
                                <span title="Edit" class="fa fa-wrench action-icons" />
                            </a>&nbsp;
                            <a href="@Url.Action("GrantBudgetsDelete", "Grants", new { id=item.GrantBudgetID, grantId = item.GrantID })">
                                <span title="Delete" class="fa fa-trash action-icons" />
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>
    <div>
        <hr />
        @Html.ActionLink("Back to Grant Editing", "Edit", routeValues: new { id = ViewBag.GrantID })
    </div>
</div>

