@model IEnumerable<MACAWeb.Models.GrantMember>

@{
    ViewBag.Title = "Grants";
}

<div class="main-content">
    <h2>Grant Members</h2>

    <hr />

    <div class="row index-row inner-rectangle">
        <div class="row index-row">
            <div class="col col-md-6">
                <div class="link-button">
                    @Html.ActionLink("Add new", "GrantMembersCreate", routeValues: new { grantId = ViewBag.GrantID })
                </div>
            </div>
        </div>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Person.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GrantMemberType.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hours)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GrantMemberType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hours)
                    </td>
                    <td>
                        <a href="@Url.Action("GrantMembersEdit", "Grants", new { id=item.GrantMemberID, grantId = item.GrantID })">
                            <span title="Edit" class="glyphicon glyphicon-wrench action-icons" />
                        </a>&nbsp;
                        <a href="@Url.Action("GrantMembersDelete", "Grants", new { id=item.GrantMemberID, grantId = item.GrantID })">
                            <span title="Delete" class="glyphicon glyphicon-trash action-icons" />
                        </a>
                    </td>
                </tr>
            }

        </table>
    </div>

    <div>
        @Html.ActionLink("Back to Grant Editing", "Edit", routeValues: new { id = ViewBag.GrantID })
    </div>
</div>

