@model PagedList.IPagedList<MACAWeb.Models.SeminarTalk>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Seminar talks";
}
<div>
    <div class="row">
        <div class="col-md-8">
            <h2>@ViewBag.Title</h2>

        </div>
        <div class="col col-md-4 search-box">
            @using (Html.BeginForm("SeminarTalksIndex", "Research", FormMethod.Get))
            {
                <div class="bg-light rounded rounded-pill shadow-sm pl-3">
                    <div class="input-group">
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control border-0 bg-light" })
                        <div class="input-group-append">
                            <button id="button-search" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <hr />
    <div class="row">

        <div class="col col-md-8">
            @Html.ActionLink("Add new", "SeminarTalksCreate", routeValues: new { personID = ViewBag.PersonID }, htmlAttributes: new { @class = "btn btn-default" })

        </div>


    </div>
    <br />

    <div class="row">

        <div class="card col">
            <table class="table card-body">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().SeminarName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Country)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Year)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SeminarName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td class="column-glyph">
                            <a href="@Url.Action("SeminarTalksEdit", "Research", new { id=item.SeminarTalkID })">
                                <span title="Edit" class="fa fa-wrench action-icons" />
                            </a>&nbsp;
                            <a href="@Url.Action("SeminarTalksDetails", "Research", new { id=item.SeminarTalkID })">
                                <span title="Details" class="fa fa-info action-icons" />
                            </a>&nbsp;
                            <a href="@Url.Action("SeminarTalksDelete", "Research", new { id=item.SeminarTalkID })">
                                <span title="Delete" class="fa fa-trash action-icons" />
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <br />
    @Html.PagedListPager(Model, page => Url.Action("SeminarTalksIndex", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
