@model PagedList.IPagedList<MACAWeb.Models.SeminarTalk>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Seminar talks";
}

<div class="main-content">
    <h2>@ViewBag.Title</h2>

    <hr />

    <div class="row index-row inner-rectangle">
        <div class="row index-row">
            <div class="col col-md-6">
                <div class="link-button">
                    @Html.ActionLink("Add new", "SeminarTalksCreate", routeValues: new { personID = ViewBag.PersonID })
                </div>
            </div>
            <!--Search Form-->
            <div class="col col-md-4 search-box">
                @using (Html.BeginForm("SeminarTalksIndex", "Research", FormMethod.Get))
                {
                    <div class="input-group">
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><span class="fa fa-search"></span></button>
                        </span>
                    </div>
                }
            </div>
        </div>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().SeminarName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Year)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeminarName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td class="column-glyph">
                        <a href="@Url.Action("SeminarTalksEdit", "Research", new { id=item.SeminarTalkID })">
                            <span title="Edit" class="fa fa-wrench action-icons" />
                        </a>&nbsp;
                        <a href="@Url.Action("SeminarTalksDetails", "Research", new { id=item.SeminarTalkID })">
                            <span title="Details" class="fa fa-info action-icons" />
                        </a>&nbsp;
                        <a href="@Url.Action("SeminarTalksDelete", "Research", new { id=item.SeminarTalkID })">
                            <span title="Delete" class="fa fa-trash action-icons" />
                        </a>
                    </td>
                </tr>
            }
        </table>
        <!--Pagination-->
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("SeminarTalksIndex", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>