@model MACAWeb.Models.SeminarTalk

@{
    ViewBag.Title = "Seminar talk";
}

<div class="main-content">
    <h2>Cpnference talk details</h2>
    <hr />
    <div class="inner-rectangle">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SeminarName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SeminarName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.University)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.University)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Year)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PdfLink)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PdfLink)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateModified)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateModified)
            </dd>
        </dl>
    </div>

    <div>
        @Html.ActionLink("Edit Seminar talk", "SeminarTalksEdit", new { id = Model.SeminarTalkID }) |
        @Html.ActionLink("Back to List", "SeminarTalksIndex")
    </div>
</div>