@model PagedList.IPagedList<MACAWeb.Models.Person>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "People";
}
<div>
    <h2>@ViewBag.Title</h2>

    <hr />
    <div class="row">
        @if (User.IsInRole("Employee"))
        {
            <div class="col col-md-8">@Html.ActionLink("Add new", "Create", null, new { @class = "btn btn-default" })</div>
        }
        <div class="col col-md-4 search-box">
            @using (Html.BeginForm("Index", "Persons", FormMethod.Get))
            {
                <div class="input-group">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><span class="fa fa-search"></span></button>
                    </span>
                </div>
            }
        </div>
    </div>
    <br />

    <div class="row">

        <div class="card col">
            <table class="table card-body">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                    </th>
                    <th>Manage</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                <a href="@Url.Action("Edit", "Persons", new { id = item.PersonID })">
                                    <span title="Edit" class="fa fa-wrench action-icons" />
                                </a>&nbsp;
                                <a href="@Url.Action("Details", "Persons", new { id = item.PersonID })">
                                    <span title="Details" class="fa fa-info-circle action-icons" />
                                </a>&nbsp;
                                <a href="@Url.Action("Delete", "Persons", new { id = item.PersonID })">
                                    <span title="Delete" class="fa fa-trash action-icons" />
                                </a>
                            </td>}
                    </tr>
                }
            </table>
        </div>
    </div>
    <br />
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>