@{
    ViewBag.Title = "Administration";
}

<div class="main-content">
    <h2>Administration</h2>

    <hr />

    <div class="row inner-rectangle">
        @if (User.IsInRole("SuperAdmin"))
        {
            <h3 style="margin-top:-5px;">Technical Entities</h3>

            <h4 style="margin-top:-5px;">Persons</h4>
            <div class="row-administration">
                <div>@Html.ActionLink("Position Types", "Index", "PositionTypes", null, htmlAttributes: new { @class = "big-button-link" })</div>
            </div>
            <br />
            <h4 style="margin-top:-5px;">Grants</h4>
            <div class="row-administration">                
                <div>@Html.ActionLink("Grant Statuses", "Index", "GrantStatus", null, htmlAttributes: new { @class = "big-button-link" })</div>
                <div>@Html.ActionLink("Grant Budget Types", "Index", "GrantBudgetsTypes", null, htmlAttributes: new { @class = "big-button-link" })</div>
                <div>@Html.ActionLink("Grant Member Types", "Index", "GrantMemberTypes", null, htmlAttributes: new { @class = "big-button-link" })</div>
            </div>
            <br />
            <h4 style="margin-top:-5px;">Activities &amp; Teaching</h4>
            <div class="row-administration">                
                <div>@Html.ActionLink("Activity Types", "Index", "ActivityTypes", null, htmlAttributes: new { @class = "big-button-link" })</div>
                <div>@Html.ActionLink("Teaching Types", "Index", "TeachingTypes", null, htmlAttributes: new { @class = "big-button-link" })</div>
                <div>@Html.ActionLink("Thesis Types", "Index", "ThesisTypes", null, htmlAttributes: new { @class = "big-button-link" })</div>
                <div>@Html.ActionLink("Study Levels", "Index", "StudyLevels", null, htmlAttributes: new { @class = "big-button-link" })</div>                
            </div>
            <br />
            <h4 style="margin-top:-5px;">Publications</h4>
            <div class="row-administration">
                <div>@Html.ActionLink("Publication Statuses", "Index", "PublicationStatus", null, htmlAttributes: new { @class = "big-button-link" })</div>
                <div>@Html.ActionLink("Publication Types", "Index", "PublicationTypes", null, htmlAttributes: new { @class = "big-button-link" })</div>
                <div>@Html.ActionLink("Local Publication Type Groups", "Index", "PublicationTypeGroups", null, htmlAttributes: new { @class = "big-button-link" })</div>
                <div>@Html.ActionLink("Local Publication Types", "Index", "PublicationTypeLocals", null, htmlAttributes: new { @class = "big-button-link" })</div>
                <div>@Html.ActionLink("Publication Classifications", "Index", "PublicationClassifications", null, htmlAttributes: new { @class = "big-button-link" })</div>
                <div>@Html.ActionLink("Author Types", "Index", "AuthorTypes", null, htmlAttributes: new { @class = "big-button-link" })</div>
            </div>
        }
    </div>

    <div class="row inner-rectangle">
        @if (User.IsInRole("Admin"))
        {
            <h3 style="margin-top:-5px;">Content Management</h3>
            <div class="row-administration">
                <div>@Html.ActionLink("Persons", "Index", "Persons", null, new { @class = "big-button-link" })</div>
                <div>@Html.ActionLink("Grants", "Index", "Grants", null, htmlAttributes: new { @class = "big-button-link" })</div>
                <div>@Html.ActionLink("Subjects", "Index", "Subjects", null, htmlAttributes: new { @class = "big-button-link" })</div>
                <div>@Html.ActionLink("Activities", "Index", "Activities", null, htmlAttributes: new { @class = "big-button-link" })</div>
                <div>@Html.ActionLink("Mentorships", "Index", "Mentorships", null, htmlAttributes: new { @class = "big-button-link" })</div>
            </div>
        }
    </div>

    <div class="row inner-rectangle">
        @if (User.IsInRole("SuperAdmin"))
        {
            <h3 style="margin-top:-5px;">Users & Events</h3>
            <div class="row-administration">
                <div>@Html.ActionLink("Users", "Index", "Users", null, new { @class = "big-button-link" })</div>
                <div>@Html.ActionLink("Event Types", "Index", "EventTypes", null, new { @class = "big-button-link" })</div>
            </div>
        }
    </div>

</div>