@model PagedList.IPagedList<MACAWeb.Models.Person>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jsbundles")

@{
    ViewBag.Title = "People";
}

<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col col-md-4 search-box">
            @using (Html.BeginForm("People", "Home", FormMethod.Get))
            {
            
                <div class="bg-light rounded rounded-pill shadow-sm pl-3">
                    <div class="input-group">
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control border-0 bg-light"})
                        <div class="input-group-append">
                            <button id="button-search" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                
            
            }
        </div>
    </div>
    <hr />
    <div class="row index-row">

        <div class="col-md-12">
            @{
                foreach (var item in Model)
                {
                    @:<div class="col-md-12 div-vertical-align list-item secondary">
                        @:<div class="row">
                            
                                @:<div class="col-md-1">
                                    if (item.ImageThumb != null && item.ImageThumb.Length > 0)
                                    {
                                        var base64 = Convert.ToBase64String(item.ImageThumb);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                        @:<img src="@imgSrc" class="img-thumbnail" style="width:90px;height:80px;" />
                                    }
                                    else
                                    {
                                        @:<img src="/Images/NoImageAcc.png" class="img-thumbnail" style="width:70px;height:70px;" />








                                    }
                                @:</div>
                                @:<div class="col-md-9  my-auto" style="padding-left:10px">
                                    @:<a href="/Home/PersonDetails?personID=@item.PersonID" class="a-offer-link"><span class="link">@item.FullName</span></a>
                                @:</div>
                            
                        @:</div>
                    @:</div>
                }
            }

        </div>
    </div>
    

        <!--Pagination-->
        <br />
        <div class="clearfix row">
            @Html.PagedListPager(Model, page => Url.Action("People", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>