@model List<MACAWeb.Models.Mentorship>
@Scripts.Render("~/bundles/jquery")

<div class="main-content">
    <div class="row">
        <div class="col-md-4">
            <h2>@ViewBag.Title</h2>
            <h3>Mentorships</h3>
        </div>
        <div class="col-md-8">
            <!--<div class="container">-->
            <div class="row">
                @Html.ActionLink("Home", "PersonDetails", new { personID = ViewBag.PersonID }, new { @class = "btn btn-default m-2" })
                @Html.ActionLink("Publications", "PersonPublications", new { personID = ViewBag.PersonID }, new { @class = "btn btn-default  m-2" })
                @Html.ActionLink("Teaching", "PersonTeaching", new { personID = ViewBag.PersonID }, new { @class = "btn btn-default  m-2" })
                @Html.ActionLink("Mentorships", "PersonMentorships", new { personID = ViewBag.PersonID }, new { @class = "btn btn-default  m-2" })
                
            </div>
            <!--</div>-->
        </div>
    </div>
    <hr />

    <div class="row index-row inner-rectangle">
        <div class="col-12">
            @{ 
                List<MACAWeb.Models.Mentorship> lstBak = Model.Where(x => x.ThesisType.AISCode == 1).OrderByDescending(x => x.Year).ToList();
                List<MACAWeb.Models.Mentorship> lstDip = Model.Where(x => x.ThesisType.AISCode == 2).OrderByDescending(x => x.Year).ToList();
                List<MACAWeb.Models.Mentorship> lstDis = Model.Where(x => x.ThesisType.AISCode == 3).OrderByDescending(x => x.Year).ToList();

                if (lstBak.Count > 0)
                {
                    @:<h4>Bachelor's Theses</h4>
                    @:<ol>
                        {
                            foreach (var item in lstBak)
                            {
                                <li class="container-offer-company">
                                    @item.Student: @item.ThesisTitle, (@item.Year)
                                </li>
                            }
                        }
                    @:</ol>
                }
                if (lstDip.Count > 0)
                {
                    @:<h4>Master's Theses</h4>
                    @:<ol>
                        {
                            foreach (var item in lstDip)
                            {
                                <li class="container-offer-company">
                                    @item.Student: @item.ThesisTitle, (@item.Year)
                                </li>
                            }
                        }
                    @:</ol>
                }
                if (lstDis.Count > 0)
                {
                    @:<h4>Doctoral Theses</h4>
                    @:<ol>
                        {
                            foreach (var item in lstDis)
                            {
                                <li class="container-offer-company">
                                    @item.Student: @item.ThesisTitle, (@item.Year)
                                </li>
                            }
                        }
                    @:</ol>
                }
            }
        </div>
    </div>
</div>
