@model List<MACAWeb.Models.Publication>
@Scripts.Render("~/bundles/jquery")
<div class="card">
    <div class="col-12 row justify-content-between m-0 pb-0 card-header">
        <div class="p-2">
            <h2>@ViewBag.Pname</h2>
        </div>

        <nav class="nav nav-tabs mt-3">
            <a href="/Home/PersonDetails?personID=@ViewBag.PersonID" class="nav-item nav-link">About</a>
            <a href="/Home/PersonResearch?personID=@ViewBag.PersonID" class="nav-item nav-link">Research</a>
            <a href="/Home/PersonPublications?personID=@ViewBag.PersonID" class="nav-item nav-link active">Publications</a>
            <a href="/Home/PersonTeaching?personID=@ViewBag.PersonID" class="nav-item nav-link">Teaching</a>
            <a href="/Home/PersonMentorships?personID=@ViewBag.PersonID" class="nav-item nav-link">Mentorships</a>
        </nav>
    </div>
    <div class="col-12 card-body p-3">
        <ul>
            @foreach (var publication in Model)
            {
                <li class="mb-3 secondary">
                    @{
                        string seperator = "";
                        <span>
                            @foreach (var aut in publication.PublicationAuthors)
                            {
                                string fullName = seperator + aut.Author.FirstName + " " + aut.Author.Surname;
                                @Html.DisplayFor(modelItem => fullName)
                                seperator = ", ";
                            }
                        </span>
                        <span>:</span>
                        <span style="font-style:italic;padding-left:10px;">@publication.Title</span><span>, </span><br />
                        <span>Submitted in @publication.Year</span><br />
                        if (publication.DOI != null)
                        {
                            <span>
                                <a href=https://doi.org/@publication.DOI target="new">DOI: @publication.DOI</a>
                            </span>
                            <span style="color: #808080;"> | </span>


                        }
                        if (publication.Link != null)
                        {
                            if (publication.Link.Contains("http"))
                            {
                                <span>
                                    <a href=https://@publication.Link target="new">Official print</a>
                                </span>
                            }
                            else
                            {
                                <span>
                                    <a href=https://@publication.Link target="new">Official print</a>
                                </span>
                            }
                        }
                        if (publication.PreprintLink != null)
                        {
                            <span style="color: #808080;"> | </span>
                            <span>
                                <a href=http://arxiv.org/@publication.PreprintLink target="new">arXiv Preprint</a>
                            </span>



                        }
                        if (publication.BibtexFile != null)
                        {
                            <span style="color: #808080;"> | </span>
                            <span>
                                @Html.ActionLink("Bibtex", "GetBibtex", "Home", new { id = publication.PublicationID }, htmlAttributes: new { @target = "new" })
                            </span>



                        }


                    }

                </li>

            }

        </ul>
    </div>
</div>

