@model PagedList.IPagedList<MACAWeb.Models.Grant>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Projects";
}

<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col col-md-4 search-box">
            @using (Html.BeginForm("Projects", "Home", FormMethod.Get))
            {
                <div class="bg-light rounded rounded-pill shadow-sm pl-3">
                    <div class="input-group">
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control border-0 bg-light" })
                        <div class="input-group-append">
                            <button id="button-search" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <hr />
    <div class="card col">
        <table class="table card-body">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                </th>
                <th>
                    Grant Status
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().End)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GrantStatus.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.End)
                    </td>
                    
                </tr>
            }
        </table>
    </div>
    <!--Pagination-->
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Projects", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
