@model PagedList.IPagedList<MACAWeb.Models.UserTask>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Tasks";
}

<div class="main-content">
    <h2>@ViewBag.Title</h2>
    
    <hr />

    <div class="row index-row inner-rectangle">
        <div class="row index-row">
            <div class="col col-md-6">
                <div class="link-button">
                    @Html.ActionLink("Add new", "Create")
                </div>
            </div>

            <!--Search Form-->
            <div class="col col-md-4 search-box">
                @using (Html.BeginForm("Index", "Tasks", FormMethod.Get))
                {
                    <div class="input-group">
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                }
            </div>
        </div>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().InstanceId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().FunctionId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().TaskStatusId)
                </th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Instance.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Function.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskStatus.Message)
                    </td>
                    <td class="column-glyph">                        
                        <a href="@Url.Action("Start", "UserTasks", new { id=item.TaskId })">
                            <span title="Start" class="glyphicon glyphicon-play-circle action-icons" />
                        </a>&nbsp;
                        <a href="@Url.Action("Abort", "UserTasks", new { id=item.TaskId })">
                            <span title="Abort" class="glyphicon glyphicon-remove-circle action-icons" />
                        </a>                        
                    </td>
                    <td class="column-glyph">
                        <a href="@Url.Action("Edit", "UserTasks", new { id=item.TaskId })">
                            <span title="Edit" class="glyphicon glyphicon-wrench action-icons" />
                        </a>&nbsp;
                        <a href="@Url.Action("Details", "UserTasks", new { id=item.TaskId })">
                            <span title="Details" class="glyphicon glyphicon-info-sign action-icons" />
                        </a>&nbsp;
                        <a href="@Url.Action("Delete", "UserTasks", new { id=item.TaskId })">
                            <span title="Delete" class="glyphicon glyphicon-trash action-icons" />
                        </a>
                    </td>
                </tr>
            }

        </table>

        <!--Pagination-->
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>