@model PagedList.IPagedList<MACAWeb.Models.ApplicationUser>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Users";
}
<div>
    <h2>@ViewBag.Title</h2>

    <hr />
    <div class="row">
        @if (User.IsInRole("Employee"))
        {
            <div class="col col-md-8">
                @Html.ActionLink("Create a new user", "Create", null, new { @class = "btn btn-default" })
            </div>
        }
        <div class="col col-md-4 search-box">
            @using (Html.BeginForm("Index", "Instances", FormMethod.Get))
            {
                <div class="input-group">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><span class="fa fa-search"></span></button>
                    </span>
                </div>
            }
        </div>
    </div>
    <br />

    <div class="row">

        <div class="card col">
            <table class="table card-body">
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        E-mail
                    </th>
                    <th>
                        Registration Date
                    </th>
                    
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @{
                                string dateCreated = item.DateCreated.ToString("dd. MM. yyyy");
                            }
                            @Html.DisplayFor(modelItem => dateCreated)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <br />
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>