@model MACAWeb.Models.TeamMember

@{
    ViewBag.Title = "Team Members";
}

<div class="main-content">
    <h2>Team Member Details</h2>

    <hr />

    <div class="inner-rectangle">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Affiliation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Affiliation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HomepageLink)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HomepageLink)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @{
                    if (Model.Image != null && Model.Image.Length > 0)
                    {
                        var base64 = Convert.ToBase64String(Model.Image);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        @:<img src="@imgSrc" width="300" />
                    }
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>

        </dl>
    </div>
    
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TeamMemberID }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>