@model PagedList.IPagedList<MACAWeb.Models.TeamMember>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Team Members";
}

<div class="main-content">
    <h2>Team Members</h2>

    <hr />

    <div class="row index-row inner-rectangle">
        <div class="row index-row">
            <div class="col col-md-6">
                <div class="link-button">
                    @Html.ActionLink("Add new", "Create")
                </div>
            </div>

            <!--Search Form-->
            <div class="col col-md-4 search-box">
                @using (Html.BeginForm("Index", "News", FormMethod.Get))
                {
                    <div class="input-group">
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><span class="fa fa-search"></span></button>
                        </span>
                    </div>
                }
            </div>
        </div>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().HomepageLink)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomepageLink)
                    </td>
                    <td class="column-glyph">
                        <a href="@Url.Action("Edit", "TeamMembers", new { id=item.TeamMemberID })">
                            <span title="Edit" class="fa fa-wrench action-icons" />
                        </a>&nbsp;
                        <a href="@Url.Action("Details", "TeamMembers", new { id=item.TeamMemberID })">
                            <span title="Details" class="fa fa-info action-icons" />
                        </a>&nbsp;
                        <a href="@Url.Action("Delete", "TeamMembers", new { id=item.TeamMemberID })">
                            <span title="Delete" class="fa fa-trash action-icons" />
                        </a>
                    </td>
                </tr>
            }

        </table>

        <!--Pagination-->
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</div>