@model MACAWeb.Models.PublicationClassificationCoefficient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PublicationClassificationCoefficient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PublicationClassification.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationClassification.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicationTypeGroup.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationTypeGroup.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coefficient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coefficient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserCreatedID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserCreatedID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserModifiedID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserModifiedID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PublicationClassificationCoefficientID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
