@model MACAWeb.Models.Mentorship

@{
    ViewBag.Title = "Mentorships";
}

<div class="main-content">
    <h2>Mentorship Details</h2>

    <hr />

    <div class="inner-rectangle">
        <dl class="dl-horizontal">
            <dt>
                Mentor
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Student)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Student)
            </dd>

            <dt>
                Thesis Type
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ThesisType.Name)
            </dd>

            <dt>
                Mentorship Type
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MentorshipType.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ThesisTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ThesisTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Remarks)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Remarks)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Year)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Semester)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Semester)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>
        </dl>
    </div>

    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MentorshipID }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>