@model PagedList.IPagedList<MACAWeb.Models.Mentorship>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Mentorships";
}
<div>
    <div class="row">
        <div class="col-md-8">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col col-md-4 search-box">
            @using (Html.BeginForm("Index", "Mentorships", FormMethod.Get))
            {
                <div class="bg-light rounded rounded-pill shadow-sm pl-3">
                    <div class="input-group">
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control border-0 bg-light" })
                        <div class="input-group-append">
                            <button id="button-search" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <hr />
    <div class="row">
        @if (User.IsInRole("Employee"))
        {
            <div class="col col-md-8">@Html.ActionLink("Add new", "Create", null, new { @class = "btn btn-default" })</div>
        }
    </div>
    <br />

    <div class="row">

        <div class="card col">
            <table class="table card-body">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Person.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Student)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ThesisTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Year)
                    </th>
                    <th>Manage</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Person.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ThesisTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td class="column-glyph">
                            <a href="@Url.Action("Edit", "Mentorships", new { id=item.MentorshipID })">
                                <span title="Edit" class="fa fa-wrench action-icons" />
                            </a>&nbsp;
                            <a href="@Url.Action("Details", "Mentorships", new { id=item.MentorshipID })">
                                <span title="Details" class="fa fa-info action-icons" />
                            </a>&nbsp;
                            <a href="@Url.Action("Delete", "Mentorships", new { id=item.MentorshipID })">
                                <span title="Delete" class="fa fa-trash action-icons" />
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <br />
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>